//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 10 11:28:55 2019
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

