//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 22 13:54:57 2019
//! **************************************************************************

SCHEMATIC START;
COMP "input_sync" LOCATE = SITE "P191" LEVEL 1;
COMP "clk" LOCATE = SITE "P183" LEVEL 1;
COMP "Input" LOCATE = SITE "P63" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

