net clk loc = p76;		//clk_1kHz
net A loc = p63;			//sw_1
net B loc = p67;			//sw_2

net "out" loc = p191;	//led_1
//현재 숫자를 외부로 보여준다.
net num[3] loc = p190;	//led_9
net num[2] loc = p194;	//led_10
net num[1] loc = p197;	//led_11
net num[0] loc = p199;	//led_12
//state를 외부로 보여준다.
net state[2] loc = p10;	//led_6
net state[1] loc = p12;	//led_7
net state[0] loc = p15;	//led_8
